header {
    box-shadow: 0 7px 10px #000000bb;
    display: flex;
    /*font-family: OI, sans-serif;*/
    /*position: fixed;*/
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #001544;
    color: #f4f1de;
    border-radius: 20px;
    margin-bottom: 60px;
}

body {
    background-color: #f4f1de;
}

section {
    outline: 5px solid #000000;
    text-align: center;
    background-color: #15616d;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
}

h2 {
    color: #f4f1de;
}

p {
    color: #f4f1de;
}

@font-face {
    font-family: "OI";
    src: url("/Users/loup/Developer/Portfolio/FONTS/Oi-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

.projects {
    background-color: #ff7d00;
}

a {
    color: #f4f1de;
    /*text-decoration: none;*/
    font-weight: bold;
}

img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}
